body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffe5ec;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 25px;
    position: fixed;
    background-color: #f7cad0;
    height: 100%;
    line-height: 50px;
    border:solid;
    border-color: #ff5d8f;
    border-width: 0px 1px 0px 0px;
    
}
.funciones-menu i{
    font-size: 25px;
    color: #ff0a54;
}
.funciones-menu img{
    width: 30px;
    height: 30px;
}
.funciones-menu .menu-link:hover{
    background-color: #ffa6c1;
    transition: 0.5s;
}
.funciones-menu .menu-link{
    padding: 8px 8px;
}
.funciones-menu .profile-image:hover{
    background-color: #ffa6c1;
    transition: 0.5s;
}
.funciones-menu .profile-image{
    padding: 8px 8px 2px;
}

.logo-instagram{
    line-height: 80px;
    
}
.logo-instagram i{
    font-size: 35px;
    color: #ff0a54;
    
}
.logo-instagram .menu-link:hover{
    background-color: #ffa6c1;
    transition: 0.5s;
}
.logo-instagram .menu-link{
    padding: 8px 8px;
}
.stories{
    width: 100%;
    max-width: 800px;
    margin: 0 130px;
    padding: 25px 0;

    display: flex;
    gap: 20px;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: bold;
    color: #c9184a;
    text-align: center;
    
}
.stories .story-img img{
    width: 65px;
    height: 65px;
    border-width: 2px;
    border-radius: 56px;
    border-color: #ff5d8f;
    border-style: solid;
}
.post{
    margin: 0 190px;
}
.primer-post{
    width: 500px;
}
.parte-uno{
    
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.parte-uno .username{
    display:flex ;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    color: #800f2f;
}
.parte-uno i{
    font-size: 25px;
    color: #ff0a54;
}
.username img{
    width: 35px;
    height: 35px;
    margin: 0 10px 0 0;
}

.parte-dos{
    width: 100%;

}
.parte-dos img{
    width: 100%;
}
.parte-tres{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.parte-tres i{
    font-size: 25px;
    color: #ff0a54;
}
.parte-tres .iconos-left .icono-post:hover{
    background-color: #ffa6c1;
    transition: 0.5s;
}
.parte-tres .iconos-left .icono-post{
    padding: 4px 4px;
}
.parte-tres .icono-save:hover{
    background-color: #ffa6c1;
    transition: 0.5s;
}
.parte-tres .icono-save{
    padding: 4px 4px;
}
span{
    font-weight: bold;
}
.parte-cuatro{
    border-bottom: #ff5d8f;
    border-width: 1px;
    border-style: solid;
    border-right: #ffe5ec;
    border-left: #ffe5ec;
    border-top: #ffe5ec;
}
.parte-cuatro .like{
    font-size: 17px;
    color: #800f2f;
}

main{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}
main .contenido{
    grid-column: 1/8;
}
main .sugerencias{
    grid-column: 8/11;
    padding: 60px 30px;
}
.mi-usuario{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
}
.mi-usuario a{
    font-size: 12px;
    text-decoration: none;
    color: #c9184a;
    font-weight: bold;
}
.mi-usuario .contenido-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.mi-usuario img{
    width: 75px;
    height: 75px;
    margin: 0 10px 0 0;
}
.mi-usuario .info span{
    margin: 0;
    font-size: 15px;
    color: #800f2f;
}
.mi-usuario .info p{
    margin: 0;
    font-size: 13px;
    color: #800f2f;
}
.sugerencias-parte-dos .sugerencias-titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sugerencias-titulo span{
    margin: 0;
    font-size: 15px;
    color: #ff8fa3;
}
.sugerencias-parte-dos .sugerencias-titulo a{
    font-size: 12px;
    text-decoration: none;
    color: #c9184a;
    font-weight: bold;
}
.sugerencias-parte-dos .sug-users{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    
}
.sug-users img{
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
}
.sug-users .sug-user-info span{
    margin: 0;
    font-size: 13px;
    color: #800f2f;
}
.sug-users .sug-user-info .sug-follow{
    margin: 0;
    font-size: 12px;
    color: #800f2f;
}
.sug-users a{
    font-size: 12px;
    text-decoration: none;
    color: #c9184a;
    font-weight: bold;
}
.txt-primera-parte a{
    font-size: 10px;
    text-decoration: none;
    color: #ff8fa3;
    font-weight: bold;
}
.txt-segunda-parte a{
    font-size: 10px;
    text-decoration: none;
    color: #ff8fa3;
    font-weight: bold;
}
.txt-tercera-parte i{
    font-size: 11px;
    color: #800f2f;   
}
.txt-tercera-parte span{
    font-size: 11px;
    color: #800f2f;
}
