body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffe5ec;
}

ul{
    list-style: none;
    margin: 15px;
    padding: 25px;
    position: fixed;
    background-color: #f7cad0;
    height: 100%;
    line-height: 50px;
}

.logo-instagram{
    line-height: 70px;
}

main{

}
    
.main-part{

}
    

.story-img div img{
    width: 10px;
    height: 10px;
    border: solid;    

}

p{
    font-family: sans-serif;
    color: #ff477e; 
    font-size: 10px; 
    font-weight: bold;
}