body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffe5ec;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 25px;
    position: fixed;
    background-color: #f7cad0;
    height: 100%;
    line-height: 50px;
    border:solid;
    border-color: #fff0f3;
    border-width: 0px 1px 0px 0px;
}

.logo-instagram{
    line-height: 70px;
}

.stories{
    width: 100%;
    max-width: 800px;
    margin: 0 130px;
    padding: 25px 0;

    display: flex;
    gap: 20px;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: bold;
    color: #c9184a;
    text-align: center;
    
}
.post{
    margin: 0 190px;
}
.primer-post{
    width: 500px;
}
.parte-uno{
    
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.parte-uno .username{
    display:flex ;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    color: #800f2f;
}
.username img{
    width: 35px;
    height: 35px;
    margin: 0 10px 0 0;
}

.parte-dos{
    width: 100%;

}
.parte-dos img{
    width: 100%;
}
.parte-tres{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
span{
    font-weight: bold;
}
.parte-cuatro .like{
    font-size: 17px;
    color: #800f2f;
}
